<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Manage confirmation</title>
    <!--link rel="stylesheet" th:href="@{/css/manage.css}" /-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body class="design">

<br/>
<br/>

<span th:text="${message}"/>

<br/>

<form th:action="@{/manage/form}" method="GET">

    <br/>
    <br/>

    <input type="submit" value="Back to manage form"/>
</form>

</body>
</html>